@use "variables";

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  font-size: 0.69vw; // 100/1440*10

  @media (max-width: variables.$tablet) {
    font-size: 0.97vw; // 100/1024*10
  }

  @media (max-width: variables.$mobile) {
    font-size: 3.125vw; // 100/320*10
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

.js-rem-example {
  height: 1rem;
  z-index: -4;
  user-select: none;
  position: absolute;
  visibility: hidden;
}

body {
  margin: 0;
  font-family: variables.$font-regular;
  color: variables.$main-white;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  opacity: 1;
  position: relative;
  @media (min-width: variables.$mobile) {
  }
}

input {
  outline: none;
  border-color: transparent;
}

main, img {
  display: block;
}

img {
  max-width: 100%;
}

picture img {
  width: 100%;
}

ul {
  list-style: none;
}

button > * {
  pointer-events: none;
}


button {
  background: transparent;
  outline: none;
  cursor: pointer;
  border-color: transparent;
}

button > * {
  pointer-events: none;
}

span {
  text-decoration: inherit;
  text-transform: inherit;
}

._link {
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
}


a, a:active, a:hover {
  text-decoration: none;
}


._main-title {
  text-transform: uppercase;
  font-size: 4.3rem;
  line-height: 4.4rem;
  font-family: variables.$font-bold;
  font-weight: 700;

  @media (max-width: variables.$tablet) {
    font-size: 4.2rem;
    line-height: 4.3rem;
  }

  @media (max-width: variables.$mobile) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  &._blue {
    color: variables.$main-blue;
  }

  &._white {
    color: variables.$main-white;
  }
}

._section-title {
  margin-left: 5.5rem;

  @media (max-width: variables.$tablet) {
    margin-left: 4rem;

  }

  @media (max-width: variables.$mobile) {
    margin-left: 0;
    text-align: center;
  }
}

.block-3 {
  & ._section-title {
    @media (max-width: variables.$mobile) {
      text-align: left;
      margin-left: 6rem;
    }
  }
}


.main-content {
  margin-top: 5.7rem;

  @media (max-width: variables.$mobile) {
    margin-top: 7.2rem;
  }
}

._main-btn {
  border-radius: 94px;
  height: 6.3rem;
  display: grid;
  align-items: center;
  justify-content: center;

  &._icon {
    grid-auto-flow: column;
    grid-gap: 1rem;

    & svg {
      width: 2.1rem;
      height: 2.1rem;

    }
  }

  span {
    font-size: 1.9rem;
    line-height: 2.4rem;
    text-transform: uppercase;

    @media (max-width: variables.$mobile) {
      font-size: 1.6rem;
      line-height: 3.6rem;
    }
  }

  &._white {
    color: variables.$dark-blue;
    background: variables.$main-white;

    & svg {
      fill: variables.$dark-blue;
    }
  }

  &._orange {
    color: variables.$main-white;
    background: variables.$main-orange;

    & svg {
      fill: variables.$main-white;
    }
  }
}

._desktop {
  @media (max-width: variables.$tablet) {
    display: none;
  }
}

._mobile {
  display: none;
  @media (max-width: variables.$mobile) {
    display: block;
  }
}

._tablet {
  display: none;
  @media (max-width: variables.$tablet) {
    display: block;
  }
}

._round {
  border-radius: 112.5px;
}

._main-input {
  background: variables.$main-blue;
  border-radius: 95px;
  height: 6.2rem;
  width: 35rem;
  position: relative;
  padding:0 2.8rem;
  display: grid;
  align-items: center;
  color: variables.$main-white;
  font-size: 1.8rem;

  @media (max-width: variables.$tablet) {
    padding:0 2.4rem;
    height: 5.8rem;
  }

  @media (max-width: variables.$mobile) {
    width: 24.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }


  &::placeholder {
    color: variables.$placeholder;

  }
}

._main-input-container {
  position: relative;
  width: fit-content;
  height: fit-content;


  &:before {
    opacity: 0;
    transition: opacity .15s;
    user-select: none;
    pointer-events: none;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    z-index: 2;
    content: "";
    transform: translateY(-50%);
    background: url("../images/desktop/block-3/check.svg") no-repeat center;
    background-size: cover;
  }

  &._ok {
    &:before {
      opacity: 1;
    }
  }
}

._form-btn {
  text-transform: uppercase;
  font-family: variables.$font-bold;
  font-size: 1.9rem;
  line-height: 2.4rem;
  text-align: center;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 6.2rem;
  width: 35rem;
  border-radius: 95px;
  color: variables.$main-blue;
  background: variables.$main-white;


  @media (max-width: variables.$tablet) {
    height: 5.8rem;
  }

  @media (max-width: variables.$mobile) {
    width: 24.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }

}

._disabled {
  opacity: .3;
}

._bold {
  font-family: variables.$font-bold;
  font-weight: 700;
}

._underlined {
  font-size: 1.4rem;
  color: variables.$main-blue;
  line-height: 1.9rem;
  position: relative;
  justify-self: center;
  font-weight: 800;
  font-family: variables.$font-extra-bold;
  @media (max-width: variables.$mobile) {
    font-size: 1.3rem;
  }


  &:after {
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    height: .2rem;
    background: variables.$main-blue;
    position: absolute;
    content: " ";
  }
}

.error-message {
  transition: opacity .3s;
  opacity: 0;
  width: 100%;
  text-align: center;
  bottom: -1.8rem;
  position: absolute;
  display: block;
  color: variables.$main-red;
  font-size: .9rem;
  line-height: 1.2rem;
}

._error {
  & .error-message {
    opacity: 1;
  }
}

._hidden-input {
  opacity: 0;
  cursor: pointer;
}

._main-input-container._error {
  & input {
    border: .2rem solid variables.$main-red;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: variables.$tablet) {

}

@media (max-width: variables.$mobile) {

}
