@use "variables";

.email-form {
  display: grid;
  grid-template-areas:
        "email password"
        "btn btn"
        "switch switch";
  justify-content: start;
  grid-gap: 1.9rem;
  margin-top: 4.2rem;

  &__input-container {

    &._error {
      input {
        border: .2rem solid variables.$main-red;
      }
      & .error-message {
        bottom: -1.6rem;
      }
    }
  }

  &__switcher {
    grid-area: switch;
    justify-self: start;
    margin-left: 8.8rem;
  }
}