@use "variables";

.phone-form {
  display: grid;
  justify-content: start;
  margin-top: 4.2rem;

  &__input-container {

    &._error {
      & .error-message {
        bottom: -1.6rem;
      }
    }
  }

  &__btn {
    margin-top: 2.1rem;
  }

  &__switcher {
    margin-top: 2.53rem;
  }
}