$font-regular: "OpenSans-Regular";
$font-bold: "OpenSans-Bold";
$main-white: #ffff;
$opacity-white: rgba(255, 255, 255, 0.7);
$main-blue: #0E378F;
$main-orange: #FC6B28;
$dark-blue: #051536;

$mobile: 667px;
$tablet: 1024px;