$font-regular: "OpenSans-Regular";
$font-bold: "OpenSans-Bold";
$font-extra-bold: "OpenSans-ExtraBold";
$main-white: #ffff;
$opacity-white: rgba(255, 255, 255, 0.7);
$not-active-white: rgba(255, 255, 255, 0.3);
$placeholder: rgba(134, 155, 199, 1);
$light-blue: rgba(74, 172, 233, 1);
$main-blue: #0E378F;
$dark-blue: #051536;
$main-red: #FF0000;
$main-orange: #FC6B28;
$main-green: rgba(25, 172, 73, 1);
$box-shadow: 0 .4rem 3rem rgba(0, 0, 0, 0.4);



$mobile: 667px;
$tablet: 1024px;