@use "../components/variables";

.block-3 {
  height: 94rem;
  background: url("../images/desktop/block-3/background.png") no-repeat center;
  background-size: cover;
  color: variables.$main-white;
  padding: 5.5rem 0 4rem;
  font-size: 1.8rem;
  line-height: 2.4rem;

  @media (max-width: variables.$tablet) {

  }

  @media (max-width: variables.$mobile) {

  }

  &__stages-container {
    margin: 7.1rem 0 0 18.3rem;
    display: grid;
    justify-content: start;
    align-content: start;
  }

  &__stage {
    &._first {
      margin-top: 2.5rem;
      max-width: 64rem;
    }

    &._final {
      margin-top: 5.86rem;
      max-width: 75rem;
    }
  }

  &__tooltips {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 2.4rem;
    max-width: 65rem;
  }

}

.authorisation {
  margin-top: 7rem;

  &__phone-block {
    display: grid;
    justify-content: start;
  }

  &__phone-input-container {
    display: grid;
  }

  &__input-container._phone {
    margin-top: 4.2rem;
    height: 6.2rem;


    &._error {
      input {
        border: .2rem solid variables.$main-red;
      }

      &:after {
        bottom: -1.6rem;
        opacity: 1;
        content: "Неправильно введен телефон"
      }
    }
  }

  &__btn {
    margin-top: 2.1rem;
  }

  &__switcher {
    margin-top: 2.53rem;
  }
}

.code {
  &__phone-code-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    position: relative;
    align-items: center;
    align-content: start;
    justify-content: center;
    height: 6.3rem;
    margin: 9.1rem 0 8rem;

    &._error:after {
      opacity: 1;
      content: "Неправильно введен код"
    }
  }

  &__phone-code-container._error {
    .code__phone-code-box {
      border: .2rem solid variables.$main-red;
    }
  }

  &__phone-code-input {
    position: absolute;
    left: 0;
    width: 110%;
    overflow: hidden;
    padding-left: 4.7rem;
    font-size: 2.5rem;
    line-height: 3.3rem;
    letter-spacing: 6.2rem;
    color: white;
    background: transparent;
    font-family: variables.$font-bold;
  }

  &__phone-code-box {
    width: 6.5rem;
    height: 6.5rem;
    background: variables.$main-blue;
    border-radius: 10px;

  }

  &__switcher {
    position: absolute;
    bottom: -4.8rem;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


.download-check {
  margin-top: 4rem;

  &._extra-margin {
    margin-top: 7rem;
  }

  &__title {
  }

  &__container {
    justify-content: start;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    margin-top: 3.1rem;
  }
}