@use "../components/variables";

.block-3 {
  height: 94rem;
  background: url("../images/desktop/block-3/background.png") no-repeat center;
  background-size: cover;
  color: variables.$main-white;
  padding: 5.5rem 0 4rem;
  font-size: 1.8rem;
  line-height: 2.4rem;

  &._active-user {
    height: 89.1rem;
    background: url("../images/desktop/block-3/background-activeUser.png") no-repeat center;
    background-size: cover;
  }

  @media (max-width: variables.$tablet) {

  }

  @media (max-width: variables.$mobile) {

  }

  &__stages-container {
    margin: 7.1rem 0 0 18.3rem;
    display: grid;
    justify-content: start;
    align-content: start;
  }

  &__stage {
    &._first {
      margin-top: 2.5rem;
      max-width: 64rem;
    }

    &._final {
      margin-top: 5.86rem;
      max-width: 75rem;
    }
  }

  &__tooltips {
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 2.4rem;
    max-width: 65rem;
  }

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}


