@use "../variables";

.authorisation {
  margin-top: 7rem;

  @media (max-width: variables.$tablet) {
    margin-top: 5.8rem;
  }

  @media (max-width: variables.$mobile) {
    margin-top: 3.3rem;
  }

  &__title {
    position: relative;
    width: fit-content;

    &._active-user {
      position: relative;

      span {
        @media (max-width: variables.$tablet) {
          position: absolute;
          width: 20rem;
        }

        &:after {
          top: 0;
          height: 1.8rem;
          width: 2.4rem;
          content: " ";
          right: -3rem;
          position: absolute;
          background: url("../images/desktop/block-3/checkbox-no-circle.svg") no-repeat center;
          background-size: cover;
        }
      }
    }
  }

}

