@use "../variables";
.download-check {
  margin-top: 4rem;

  &._active-user {
    margin-top: 9.5rem;
  }

  &._extra-margin {
    margin-top: 7rem;
  }

  &__title {
  }

  &__container {
    justify-content: start;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    margin-top: 3.1rem;
    grid-template-areas: "scan upload handmade";
  }

  &__btn {
    &._handmade {
      grid-area: handmade;
    }
  }

  &__tooltip {
    display: none;

    & div {
      margin-top: 2rem;
    }

    & ol {
      margin-top: 1.4rem;
      margin-left: 2rem;
    }
  }
}

.download-check._active-user {
 & .download-check__btn {
   color: variables.$main-white;
   background: variables.$main-blue;
 }

  & .download-check__tooltip {
    display: block;
  }
}