@use "../variables";

.email-form {
  display: grid;
  grid-template-areas:
        "email password"
        "btn btn"
        "switch switch";
  justify-content: start;
  grid-gap: 1.9rem;
  margin-top: 4.2rem;

  @media (max-width: variables.$tablet) {
    margin-top: 2.4rem;
    grid-gap: 1.6rem;
    grid-template-areas:
        "email"
        "password"
        "btn"
        "switch";
  }

  @media (max-width: variables.$mobile) {

  }


  &__input-container {

    &._error {
      & .error-message {
        bottom: -1.6rem;
      }
    }
  }

  &__switcher {
    grid-area: switch;
    justify-self: start;
    margin-left: 8.8rem;
  }
}