@use "../variables";

.error-qr {
  margin-left: 4rem;

  &__attention {
    padding-left: 2.5rem;
    margin-top: 2.6rem;
    position: relative;
    color: variables.$main-red;

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      height: 2.1rem;
      width: 2.1rem;
      display: block;
      content: "";
      background: url("../images/desktop/block-3/attention-sign.svg") no-repeat center;
      background-size: contain;
    }
  }

  &__rules {
    margin-top: 4rem;
    margin-left: 2rem;
  }

  &__btns-container {
    justify-content: start;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    grid-template-areas: "scan again"
  "handmade send";
  }

  &__btn {
    &._scan {
      grid-area: scan;
    }
    &._again {
      grid-area: again;
    }
    &._handmade {
      grid-area: handmade;
    }
    &._send {
      grid-area: send;
    }
  }
}