@use "../variables";

.final-screen {
  padding: 13.3rem 18rem;

  @media (max-width: variables.$tablet) {
    padding: 0 4rem;
  }

  @media (max-width: variables.$mobile) {
    padding: 0 1.6rem;
  }


  &__title {
    font-size: 3.2rem;
    margin-left: 0;


    @media (max-width: variables.$tablet) {
      max-width: 65rem;
      font-size: 4.2rem;
      line-height: 4.6rem;
    }

    @media (max-width: variables.$mobile) {
      font-size: 2.8rem;
      line-height: 3rem;
      margin-left: 0 !important;

    }

  }

  &__text-container {
    max-width: 69rem;
    margin-top: 8rem;
    display: grid;
    grid-gap: 2.5rem;

    @media (max-width: variables.$tablet) {
      max-width: 65rem;
      margin-top: 4rem;
    }

    @media (max-width: variables.$mobile) {
      grid-gap: 1.5rem;
      margin-top: 2.4rem;
    }

  }

  &__btns-container {
    display: grid;
    margin-top: 4.5rem;
    justify-content: start;
    grid-auto-flow: column;
    grid-gap: 1.9rem;

    @media (max-width: variables.$tablet) {
      margin-top: 5.6rem;
    }

    @media (max-width: variables.$mobile) {
      margin-top: 2.6rem;
      grid-gap: 1.9rem;
      grid-auto-flow: row;
    }
  }
}