<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="scss/app.scss">
    <script defer type="module" src="js/app.js"></script>
    <title>Alcon</title>
</head>
<body>
<div data-rem-example class="js-rem-example"></div>
<header data-header class="main-header">
    <div class="main-header__logos-container">
        <a class="main-header__logo" target="_blank" href="https://www.moiglaza.ru/">
            <picture class="main-header__logo-img _alcon">
                <source media="(max-width: 1024px)" type="image/png"
                        srcset="images/tablet/header/logo-alcon.png"/>
                <img src="images/desktop/header/logo-alcon.png"
                     alt="логотип Alcon">
            </picture>
        </a>
        <div class="main-header__vertical-line"></div>
        <a class="main-header__logo" target="_blank" href=" https://www.moiglaza.ru/club/">
            <picture class="main-header__logo-img _my-eyes">
                <source srcset="images/desktop/header/logo-my-eyes.webp" type="image/webp">
                <img src="images/desktop/header/logo-my-eyes.png" alt="logo клуба привилегий мои глаза">
            </picture>
        </a>
    </div>
    <nav class="main-header__navigation navigation">
        <ul class="navigation__menu">
            <li data-navigation="block-2" class="navigation__item _link">Призы</li>
            <li data-navigation="block-4" class="navigation__item _link">Календарь розыгрышей</li>
        </ul>
        <button class="navigation__profile-btn">
            <svg>
                <use xlink:href="images/sprite.svg#profile"></use>
            </svg>
        </button>
    </nav>
</header>
<main data-main class="main-content">
    <section data-block-1 class="block block-1">
        <div class="block-1__content-container">
            <h1 class="block-1__page-title">СНЕГОПАД<br> ПОДАРКОВ</h1>
            <h1 class="block-1__title _main-title">от Alcon</h1>
            <h2 class="block-1__subtitle">Новый год приближается —<br class="_tablet"> подарки умножаются!</h2>
            <p class="block-1__text">С каждой неделей количество призов увеличивается.</p>
            <p class="block-1__text _desktop">Следите за календарем розыгрышей, загружайте чеки и выигрывайте
            </p>
            <button data-navigation="block-3" class="block-1__btn _main-btn _icon _orange">
                <span>Участвовать</span>
                <svg>
                    <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
            </button>
        </div>
    </section>

    <section data-block-2 class="block block-2">
        <h1 class="block-2__title _section-title _main-title _blue">
            Более 130 призов!
        </h1>
        <div class="block-2__gifts-container">
            <div class="block-2__gift-card gift-card">
                <picture class="gift-card__img">
                    <source media="(max-width: 666px)" type="image/png"
                            srcset="images/mobile/block-2/laptop.png"/>
                    <img src="images/desktop/block-2/laptop.png"
                         alt="ноутбук с чекбоксы">
                </picture>
                <h2 class="gift-card__title">Digital-подписки
                    на сервисы</h2>
                <p class="gift-card__description">Для приятных теплых
                    зимних вечеров</p>
                <h3 class="gift-card__subtitle">Okko, Ozon, Yandex Plus, Level up и другие</h3>
            </div>

            <div class="block-2__gift-card gift-card">
                <picture class="gift-card__img">
                    <source media="(max-width: 666px)" type="image/png"
                            srcset="images/mobile/block-2/watches.png"/>
                    <img src="images/desktop/block-2/watches.png"
                         alt="часы">
                </picture>
                <h2 class="gift-card__title">Электронные часы
                    Apple Watch</h2>
                <p class="gift-card__description">Чтобы время всегда играло
                    на тебя в новом году!</p>
                <h3 class="gift-card__subtitle">Apple Watch Series 7</h3>
            </div>

            <div class="block-2__gift-card gift-card _scores">
                <picture class="gift-card__img">
                    <source media="(max-width: 666px)" type="image/png"
                            srcset="images/mobile/block-2/scores-300.png"/>
                    <img src="images/desktop/block-2/scores-300.png"
                         alt="300 балов">
                </picture>
                <h2 class="gift-card__title">Баллы Клуба привилегий "МоиГлаза" </h2>
                <p class="gift-card__description">Гарантированный приз каждому участнику</p>
                <h3 class="gift-card__subtitle">Проигравших не будет!</h3>
            </div>
        </div>
    </section>

    <section data-block-3 class="block block-3">
        <div id="app">
            <h1 class="block-3__title _section-title _main-title _white">
                Участвовать в розыгрыше
            </h1>
            <div class="block-3__stages-container">
                <div class="block-3__stage _first">
                    Купите с 22 ноября 2021 г. по 24 декабря 2021 г.** любой продукт Alcon*** и сохраните чек
                </div>

                <div class="block-3__stage authorisation">

                    <div class="authorisation__title">Авторизуйтесь или зарегистрируйтесь</div>

                    <div v-if="authNewUser" class="new-user-form">
                        <div @focusin="errors.password = ''"
                             :class="{'_ok': validation.password,'_error': errors.password}"
                             class="new-user-form__input-container _main-input-container _password">
                            <input class="new-user-form__input _main-input"
                                   type="text"
                                   v-model="formData.password"
                                   placeholder="Введите пароль">
                        </div>

                        <div @focusin="errors.password = ''"
                             :class="{'_ok': validation.password,'_error': errors.password}"
                             class="new-user-form__input-container _main-input-container _password">
                            <input class="new-user-form__input _main-input"
                                   type="text"
                                   v-model="formData.password"
                                   placeholder="Введите пароль">
                        </div>

                        <div @focusin="errors.password = ''"
                             :class="{'_ok': validation.password,'_error': errors.password}"
                             class="new-user-form__input-container _main-input-container _password">
                            <input class="new-user-form__input _main-input"
                                   type="text"
                                   v-model="formData.password"
                                   placeholder="Введите пароль">
                        </div>

                        <div @focusin="errors.password = ''"
                             :class="{'_ok': validation.password,'_error': errors.password}"
                             class="new-user-form__input-container _main-input-container _password">
                            <input class="new-user-form__input _main-input"
                                   type="text"
                                   v-model="formData.password"
                                   placeholder="Введите пароль">
                        </div>

                        <div @focusin="errors.password = ''"
                             :class="{'_ok': validation.password,'_error': errors.password}"
                             class="new-user-form__input-container _main-input-container _password">
                            <input class="new-user-form__input _main-input"
                                   type="text"
                                   v-model="formData.password"
                                   placeholder="Введите пароль">
                        </div>

                        <button class="new-user-form__btn _form-btn"
                                :class="{'_disabled': !validation.email || !validation.password}"
                                @click="authWithEmail">Зарегистрироваться
                        </button>

                        <div class="new-user-form__agreement">
                            <input class="new-user-form__checkbox" type="checkbox" id="agreement"
                                   v-model="formData.agreement">
                            <label class="new-user-form__agreement-label" for="agreement">
                                <div>
                                    <p>Я даю согласие на обработку в соответсвии с Политикой в отношении
                                        обработки персональных данных</p>
                                    <p>ООО “Алкон Формацевтика</p>
                                </div>

                            </label>
                        </div>
                    </div>

                    <div v-else-if="gettingPhoneCode" @focusin="errors.phoneCode = ''"
                         :class="{'_error': errors.phoneCode }"
                         class="code-form">
                        <div class="code-form__phone-code-box"></div>
                        <div class="code-form__phone-code-box"></div>
                        <div class="code-form__phone-code-box"></div>
                        <div class="code-form__phone-code-box"></div>
                        <input maxlength="4" v-model="formData.phoneCode"
                               class="code-form__phone-code-input" type="text">
                        <button class="code-form__switcher _underlined" @click="sendCodeToPhone">
                            {{
                                countDown ? `Получить новый можно через 00:${convertedCountdown}` : "Получить новый код"
                            }}
                        </button>
                    </div>
                    <div v-else-if="authMethod === 'phone'" class="phone-form">
                        <div @focusin="errors.phone = ''"
                             :class="{'_ok': validation.phone,'_error': errors.phone}"
                             class="phone-form__input-container _main-input-container _phone">
                            <masked-input class="phone-form__input _email _main-input"
                                          v-model="formData.phone"
                                          mask="\+\7 (111) 111-11-11" placeholder="+7 (___) ___-__-__"/>
                        </div>
                        <button class="phone-form__btn _form-btn" @click="sendCodeToPhone">получить код
                        </button>
                        <button class="phone-form__switcher _underlined" @click="switchAuthMethod">Войти
                            по логину и паролю
                        </button>
                    </div>
                    <div v-else-if="authMethod === 'email'" class="email-form">
                        <div @focusin="errors.email = ''"
                             :class="{'_ok': validation.email,'_error': errors.phone}"
                             class="email-form__input-container _main-input-container _email">
                            <input class="email-form__input _main-input"
                                   v-model="formData.email"
                                   type="email"
                                   placeholder="Введите e-mail">
                        </div>

                        <div @focusin="errors.password = ''"
                             :class="{'_ok': validation.password,'_error': errors.password}"
                             class="email-form__input-container _main-input-container _password">
                            <input class="email-form__input _main-input"
                                   type="password"
                                   v-model="formData.password"
                                   placeholder="Введите пароль">
                        </div>

                        <button class="email-form__btn _form-btn"
                                :class="{'_disabled': !validation.email || !validation.password}"
                                @click="authWithEmail">Войти
                        </button>

                        <button class="email-form__switcher _underlined" @click="switchAuthMethod">Войти
                            через СМС-код
                        </button>
                    </div>
                </div>

                <div class="block-3__stage download-check"
                     :class="{'_disabled': stage !== 3}">
                    <div class="download-check__title">Загрузите чек о покупке**</div>
                    <div class="download-check__container">
                        <button class="download-check__btn _form-btn">Сканировать QR-код</button>
                        <button class="download-check__btn _form-btn">Загрузить чек</button>
                        <button class="download-check__btn _form-btn">Отправить данные чека</button>
                    </div>
                </div>

                <div class="block-3__stage _final">
                    Получите гарантированный приз — <span class="_bold">300 баллов</span> Клуба привилегий «Моиглаза»
                    и шанс выиграть крутые призы
                </div>

                <div class="block-3__tooltips">
                    <p>** Стоимость каждого продукта Alcon в чеке должна составлять более 399 руб.</p>
                    <p>*** Я подтверждаю, что не являюсь сотрудником, членом семьи сотрудника Организатора, Оператора,
                        аффилированных с Организатором или Оператором лиц, субподрядчиков Оператора в рамках Кампании,
                        оптик, аптек, дистрибьюторов Организатора</p>
                </div>
            </div>
        </div>
    </section>

    <section data-block-4 class="block block-4">
        <h1 class="block-4__title _section-title _main-title _white">
            Календарь розыгрышей
        </h1>
        <div class="block-4__options-container">
            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>1</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>11</span> призов!</div>
                <button data-week="1" class="block-4__option-btn _round">22.11 — 28.11</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>2</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>18</span> призов!</div>
                <button data-week="2" class="block-4__option-btn _round">29.11 — 5.12</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>3</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>25</span> призов!</div>
                <button data-week="3" class="block-4__option-btn _round">6.12 — 12.12</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>4</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>32</span> приза!</div>
                <button data-week="4" class="block-4__option-btn _round">13.12 — 19.12</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>5</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>52</span> приза!</div>
                <button data-week="5" class="block-4__option-btn _round">20.12 — 24.12</button>
            </div>
        </div>

        <a href="https://www.moiglaza.ru/where-to-buy/" target="_blank" class="block-4__buy-btn _main-btn _white _icon">
            <span>Где купить и подобрать продукты ALCON</span>
            <svg>
                <use xlink:href="images/sprite.svg#arrow"></use>
            </svg>
        </a>


        <div data-week-info="container" class="block-4__week-info week-info">
            <h2 data-week-info="week" class="week-info__title">Неделя 1</h2>
            <div class="week-info__info-container">
                <div class="week-info__item">
                    <div class="week-info__name">Срок загрузки чеков:</div>
                    <div data-week-info="dates" class="week-info__dates">22.11.21 — 28.11.21</div>
                </div>
                <div class="week-info__item">
                    <div class="week-info__name">Розыгрыш:</div>
                    <div data-week-info="draw" class="week-info__dates">3 декабря 2021</div>
                </div>
            </div>

            <div class="week-info__gifts-container">
                <div class="week-info__gift">
                    <picture class="week-info__img">
                        <source media="(max-width: 666px)" type="image/png"
                                srcset="images/mobile/block-4/laptop.png"/>
                        <img src="images/desktop/block-4/laptop.png"
                             alt="картинка ноутбука с чекбоксами">
                    </picture>
                    <div data-week-info="subscription" class="week-info__num-bar _round">x10</div>
                    <div class="week-info__description">
                        Digital-подписки на сервисы
                    </div>
                </div>

                <div class="week-info__gift">
                    <picture class="week-info__img">
                        <source media="(max-width: 666px)" type="image/png"
                                srcset="images/mobile/block-4/watches.png"/>
                        <img src="images/desktop/block-4/watches.png"
                             alt="часы">
                    </picture>
                    <div data-week-info="watches" class="week-info__num-bar _round">x1</div>
                    <div class="week-info__description">
                        Apple Watch Series 7
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>
<footer class="main-footer">
    <p class="main-footer__text">* Сроки проведения акции: с 22 ноября 2021 г. по 24 декабря 2021 г. Информация об
        организаторе, правилах
        проведения акции/конкурса, количестве призов, сроках, месте и порядке их получения указаны в Правилах
        акции/конкурса и размещены на сайте <a href="https://moiglaza.ru">moiglaza.ru</a></p>
    <a class="main-footer__link" target="_blank"
       href="https://www.moiglaza.ru/upload/uf/380/Pravila-Provedeniya_-Aktsiya_P1.pdf">Правила акции</a>
</footer>
</body>


</html>

