<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="scss/app.scss">
    <script defer type="module" src="js/app.js"></script>
    <title>Alcon</title>
</head>
<body>
<div data-rem-example class="js-rem-example"></div>
<header data-header class="main-header">
    <div class="main-header__logos-container">
        <a class="main-header__logo" target="_blank" href="https://www.moiglaza.ru/">
            <picture class="main-header__logo-img _alcon">
                <source media="(max-width: 1024px)" type="image/png"
                        srcset="images/tablet/header/logo-alcon.png"/>
                <img src="images/desktop/header/logo-alcon.png"
                     alt="логотип Alcon">
            </picture>
        </a>
        <div class="main-header__vertical-line"></div>
        <a class="main-header__logo" target="_blank" href=" https://www.moiglaza.ru/club/">
            <div class="main-header__logo-img _my-eyes">
            </div>
        </a>
    </div>
    <nav class="main-header__navigation navigation">
        <ul class="navigation__menu">
            <li data-navigation="block-2" class="navigation__item _link">Призы</li>
            <li data-navigation="block-4" class="navigation__item _link">Календарь розыгрышей</li>
        </ul>
        <button class="navigation__profile-btn">
            <svg>
                <use xlink:href="images/sprite.svg#profile"></use>
            </svg>
        </button>
    </nav>
</header>
<main data-main class="main-content">
    <section data-block-1 class="block block-1">
        <div class="block-1__content-container">
            <h1 class="block-1__page-title">СНЕГОПАД<br> ПОДАРКОВ</h1>
            <h1 class="block-1__title _main-title">от Alcon</h1>
            <h2 class="block-1__subtitle">Новый год приближается —<br class="_tablet"> подарки умножаются!</h2>
            <p class="block-1__text">С каждой неделей количество призов увеличивается.</p>
            <p class="block-1__text _desktop">Следите за календарем розыгрышей, загружайте чеки и выигрывайте
            </p>
            <button data-navigation="block-3" class="block-1__btn _main-btn _icon _orange">
                <span>Участвовать</span>
                <svg>
                    <use xlink:href="images/sprite.svg#arrow"></use>
                </svg>
            </button>
        </div>
    </section>

    <section data-block-2 class="block block-2">
        <h1 class="block-2__title _section-title _main-title _blue">
            Более 130 призов!
        </h1>
        <div class="block-2__gifts-container">
            <div class="block-2__gift-card gift-card">
                <picture class="gift-card__img">
                    <source media="(max-width: 666px)" type="image/png"
                            srcset="images/mobile/block-2/laptop.png"/>
                    <img src="images/desktop/block-2/laptop.png"
                         alt="ноутбук с чекбоксы">
                </picture>
                <h2 class="gift-card__title">Digital-подписки
                    на сервисы</h2>
                <p class="gift-card__description">Для приятных теплых
                    зимних вечеров</p>
                <h3 class="gift-card__subtitle">Okko, Ozon, Yandex Plus, Level up и другие</h3>
            </div>

            <div class="block-2__gift-card gift-card">
                <picture class="gift-card__img">
                    <source media="(max-width: 666px)" type="image/png"
                            srcset="images/mobile/block-2/watches.png"/>
                    <img src="images/desktop/block-2/watches.png"
                         alt="часы">
                </picture>
                <h2 class="gift-card__title">Электронные часы
                    Apple Watch</h2>
                <p class="gift-card__description">Чтобы время всегда играло
                    на тебя в новом году!</p>
                <h3 class="gift-card__subtitle">Apple Watch Series 7</h3>
            </div>

            <div class="block-2__gift-card gift-card _scores">
                <picture class="gift-card__img">
                    <source media="(max-width: 666px)" type="image/png"
                            srcset="images/mobile/block-2/scores-300.png"/>
                    <img src="images/desktop/block-2/scores-300.png"
                         alt="300 балов">
                </picture>
                <h2 class="gift-card__title">Баллы Клуба привилегий "МоиГлаза" </h2>
                <p class="gift-card__description">Гарантированный приз каждому участнику</p>
                <h3 class="gift-card__subtitle">Проигравших не будет!</h3>
            </div>
        </div>
    </section>

    <section data-block-3>
        <div id="app">
            <div class="block block-3" :class="{'_active-user':currentUser, '_final-screen': successOperation}">
                <div v-show="popupOpened" ref="popup" class="popup-overlay popup">
                    <div class="popup__container" :class="`_${currentPopup.name}`">
                        <div class="popup__close" @click="closePopup"></div>
                        <h2 class="popup__title">{{ currentPopup.title }}</h2>
                        <div v-if="currentPopup.name === 'handmade'" class="popup__input-check-form input-check-form">

                            <div @focusin="errors.sum = ''"
                                 :class="{'_ok': validation.sum,'_error': errors.sum}"
                                 class="input-check-form__input-container _main-input-container">
                                <div class="error-message">{{ errors.sum }}</div>
                                <input class="input-check-form__input _email _main-input"
                                       v-model="checkData.sum"
                                       placeholder="Сумма"/>
                            </div>

                            <div @focusin="errors.fn = ''"
                                 :class="{'_ok': validation.fn,'_error': errors.fn}"
                                 class="input-check-form__input-container _main-input-container">
                                <div class="error-message">{{ errors.fn }}</div>
                                <input class="input-check-form__input _email _main-input"
                                       v-model="checkData.fn"
                                       placeholder="ФН"/>
                            </div>

                            <div @focusin="errors.date = ''"
                                 :class="{'_ok': validation.date,'_error': errors.date}"
                                 class="input-check-form__input-container _main-input-container">
                                <div class="error-message">{{ errors.date }}</div>
                                <masked-input class="input-check-form__input _email _main-input"
                                              v-model="checkData.date"
                                              mask="11.11.1111"
                                              placeholder="Дата"/>
                            </div>

                            <div @focusin="errors.fd = ''"
                                 :class="{'_ok': validation.fd,'_error': errors.fd}"
                                 class="input-check-form__input-container _main-input-container">
                                <div class="error-message">{{ errors.fd }}</div>
                                <input class="input-check-form__input _email _main-input"
                                       v-model="checkData.fd"
                                       placeholder="ФД"/>
                            </div>

                            <div @focusin="errors.time = ''"
                                 :class="{'_ok': validation.time,'_error': errors.time}"
                                 class="input-check-form__input-container _main-input-container">
                                <div class="error-message">{{ errors.time }}</div>
                                <masked-input class="input-check-form__input _email _main-input"
                                              v-model="checkData.time"
                                              mask="11:11"
                                              placeholder="Время"/>
                            </div>

                            <div @focusin="errors.fdp = ''"
                                 :class="{'_ok': validation.fdp,'_error': errors.fdp}"
                                 class="input-check-form__input-container _main-input-container">
                                <div class="error-message">{{ errors.fdp }}</div>
                                <input class="input-check-form__input _email _main-input"
                                       v-model="checkData.fdp"
                                       placeholder="ФДП или ФП"/>
                            </div>

                            <button class="input-check-form__btn _form-btn"
                                    :class="{'_disabled': !validation.sum || !validation.date ||!validation.time ||!validation.fn || !validation.fd || !validation.fdp}"
                                    @click="uploadData">ЗАГРУЗИТЬ ДАННЫЕ
                            </button>
                        </div>
                        <div v-if="currentPopup.name === 'error'" class="popup__error-qr error-qr">
                            <div class="error-qr__attention">Не удалось распознать чек</div>
                            <ol class="error-qr__rules">
                                <li>На фотографии чека должен четко считываться QR-код.</li>
                                <li>Файл должен быть в формате JPEG или PNG, размером не более 20мБ</li>
                            </ol>

                            <div class="error-qr__btns-container">
                                <button @click="successOperation = false" class="error-qr__btn _form-btn">
                                    Сканировать QR-код
                                </button>
                                <button @click="popupOpened = false" class="error-qr__btn _form-btn">
                                    ЗАГРУЗИТЬ ДРУГОЙ ЧЕК
                                </button>
                                <button @click="initUploadCheck('handmade')" class="error-qr__btn _form-btn">
                                    Отправить данные чека
                                </button>
                                <button @click="sendToCheck" class="error-qr__btn _form-btn">
                                    Отправить на ручную проверку
                                </button>
                            </div>
                        </div>
                        <div v-if="currentPopup.name === 'manualCheck'" class="popup__manual-check manual-check">
<h1>xyi</h1>
                        </div>

                    </div>
                </div>

                <div v-if="!successOperation" class="block-3__content-wrapper _main">
                    <h1 class="block-3__title _section-title _main-title _white">
                        Участвовать в розыгрыше
                    </h1>
                    <div class="block-3__stages-container">
                        <div class="block-3__stage _first">
                            Купите с 22 ноября 2021 г. по 24 декабря 2021 г.** любой продукт Alcon*** и сохраните чек
                        </div>

                        <div class="block-3__stage authorisation">

                            <div :class="{'_active-user': currentUser}" class="authorisation__title">{{
                                    currentUser ? `${currentUser.name}, вы авторизованы` : "Авторизуйтесь или зарегистрируйтесь"
                                }}
                            </div>

                            <div v-if="registerNewUser && !currentUser" class="new-user-form">

                                <div @focusin="errors.phone = ''"
                                     :class="{'_ok': validation.phone,'_error': errors.phone}"
                                     class="new-user-form__input-container _main-input-container">
                                    <div class="error-message">{{ errors.phone }}</div>
                                    <masked-input class="new-user-form__input _email _main-input"
                                                  v-model="formData.phone"
                                                  mask="\+\7 (111) 111-11-11" placeholder="+7 (___) ___-__-__"/>
                                </div>

                                <div @focusin="errors.password = ''"
                                     :class="{'_ok': validation.password,'_error': errors.password}"
                                     class="new-user-form__input-container _main-input-container _password">
                                    <div class="error-message">{{ errors.password }}</div>
                                    <input class="new-user-form__input _main-input"
                                           type="password"
                                           v-model="formData.password"
                                           placeholder="Введите пароль">
                                </div>

                                <div @focusin="errors.name = ''"
                                     :class="{'_ok': validation.name,'_error': errors.name}"
                                     class="new-user-form__input-container _main-input-container _password">
                                    <div class="error-message">{{ errors.name }}</div>
                                    <input class="new-user-form__input _main-input"
                                           type="text"
                                           v-model="formData.name"
                                           placeholder="Ваше имя">
                                </div>

                                <div @focusin="errors.rePassword = ''"
                                     :class="{'_ok': validation.rePassword,'_error': errors.rePassword}"
                                     class="new-user-form__input-container _main-input-container _password">
                                    <div class="error-message">{{ errors.rePassword }}</div>
                                    <input class="new-user-form__input _main-input"
                                           type="password"
                                           v-model="formData.rePassword"
                                           placeholder="Подтвердите пароль">
                                </div>

                                <div @focusin="errors.email = ''"
                                     :class="{'_ok': validation.email,'_error': errors.email}"
                                     class="new-user-form__input-container _main-input-container _email">
                                    <div class="error-message">{{ errors.email }}</div>
                                    <input class="new-user-form__input _main-input"
                                           v-model="formData.email"
                                           type="email"
                                           placeholder="Введите e-mail">
                                </div>

                                <div @focusin="errors.agreement = ''" class="new-user-form__agreement"
                                     :class="{'_error': errors.agreement}">
                                    <input class="new-user-form__checkbox" type="checkbox" id="agreement"
                                           v-model="formData.agreement">
                                    <label class="new-user-form__agreement-label" for="agreement">
                                        <div>
                                            <p>Я даю согласие на обработку в соответсвии с Политикой в отношении
                                                обработки персональных данных</p>
                                            <p>ООО “Алкон Формацевтика</p>
                                        </div>

                                    </label>
                                </div>

                                <button class="new-user-form__btn _form-btn"
                                        :class="{'_disabled': !validation.email || !validation.password ||!validation.rePassword ||!validation.name || !validation.phone || !validation.agreement}"
                                        @click="registration">Зарегистрироваться
                                </button>

                            </div>
                            <div v-else-if="gettingPhoneCode && !currentUser" @focusin="errors.phoneCode = ''"
                                 :class="{'_error': errors.phoneCode }"
                                 class="code-form">
                                <button class="code-form__switcher _underlined" @click="sendCodeToPhone">
                                    {{
                                        countDown ? `Получить новый можно через 00:${convertedCountdown}` : "Получить новый код"
                                    }}
                                </button>
                                <div class="error-message">{{ errors.phoneCode }}</div>
                                <div class="code-form__phone-code-box"></div>
                                <div class="code-form__phone-code-box"></div>
                                <div class="code-form__phone-code-box"></div>
                                <div class="code-form__phone-code-box"></div>
                                <masked-input class="code-form__phone-code-input"
                                              v-model="phoneCode"
                                              mask="1111" placeholder-char="&#8205" placeholder=""/>
                            </div>
                            <div v-else-if="authMethod === 'phone' && !currentUser" class="phone-form">
                                <div @focusin="errors.phone = ''"
                                     :class="{'_ok': validation.phone,'_error': errors.phone}"
                                     class="phone-form__input-container _main-input-container _phone">
                                    <div class="error-message">{{ errors.phone }}</div>
                                    <masked-input class="phone-form__input _email _main-input"
                                                  v-model="formData.phone"
                                                  mask="\+\7 (111) 111-11-11" placeholder="+7 (___) ___-__-__"/>
                                </div>
                                <button class="phone-form__btn _form-btn" @click="sendCodeToPhone">получить код
                                </button>
                                <button class="phone-form__switcher _underlined" @click="switchAuthMethod">Войти
                                    по логину и паролю
                                </button>
                            </div>
                            <div v-else-if="authMethod === 'email' && !currentUser" class="email-form">
                                <div @focusin="errors.email = ''"
                                     :class="{'_ok': validation.email,'_error': errors.email}"
                                     class="email-form__input-container _main-input-container _email">
                                    <div class="error-message">{{ errors.email }}</div>
                                    <input class="email-form__input _main-input"
                                           v-model="formData.email"
                                           type="email"
                                           placeholder="Введите e-mail">
                                </div>

                                <div @focusin="errors.password = ''"
                                     :class="{'_ok': validation.password,'_error': errors.password}"
                                     class="email-form__input-container _main-input-container _password">
                                    <div class="error-message">{{ errors.password }}</div>
                                    <input class="email-form__input _main-input"
                                           type="password"
                                           v-model="formData.password"
                                           placeholder="Введите пароль">
                                </div>

                                <button class="email-form__btn _form-btn"
                                        :class="{'_disabled': !validation.email || !validation.password}"
                                        @click="authWithEmail">Войти
                                </button>

                                <button class="email-form__switcher _underlined" @click="switchAuthMethod">Войти
                                    через СМС-код
                                </button>
                            </div>
                        </div>
                        <div class="block-3__stage download-check"
                             :class="{'_disabled': !currentUser, '_active-user': currentUser}">
                            <div class="download-check__title">Загрузите чек о покупке**</div>
                            <div class="download-check__container">
                                <button @click="initUploadCheck('handmade')"
                                        class="download-check__btn _form-btn _scan">
                                    Сканировать QR-код
                                </button>
                                <button class="download-check__btn _form-btn _upload">
                                    Загрузить
                                    чек
                                </button>
                                <button @click="initUploadCheck('handmade')"
                                        class="download-check__btn _form-btn _handmade">
                                    Отправить
                                    данные чека
                                </button>
                                <qrcode-capture class="download-check__btn _hidden-input _form-btn" ref="checkUpload"
                                                @detect="onDetect"/>
                            </div>
                            <div class="download-check__tooltip">
                                <div>Обратите внимание:</div>
                                <ol>
                                    <li>На фотографии чека должен чётко читаться QR-код</li>
                                    <li>Файл должен быть в формате JPEG</li>
                                </ol>
                            </div>
                        </div>

                        <div class="block-3__stage _final">
                            Получите гарантированный приз — <span class="_bold">300 баллов</span> Клуба привилегий
                            «Моиглаза»
                            и шанс выиграть крутые призы
                        </div>

                        <div class="block-3__tooltips">
                            <p>** Стоимость каждого продукта Alcon в чеке должна составлять более 399 руб.</p>
                            <p>*** Я подтверждаю, что не являюсь сотрудником, членом семьи сотрудника Организатора,
                                Оператора,
                                аффилированных с Организатором или Оператором лиц, субподрядчиков Оператора в рамках
                                Кампании,
                                оптик, аптек, дистрибьюторов Организатора</p>
                        </div>
                    </div>
                </div>
                <div v-if="successOperation" class="block-3__content-wrapper final-screen">
                    <h1 class="final-screen__title _section-title _main-title _white">
                        Поздравляем! Ваш чек зарегистрирован
                    </h1>
                    <div class="final-screen__text-container">
                        <p> Вы стали участником розыгрыша Apple Watch и Digital-подписок! Розыгрыш состоится в прямом
                            эфире в Instagram Alcon.</p>
                        <p> Дополнительные 300 баллов Клуба привилегий «МоиГлаза» уже доступны в вашем личном
                            кабинете.</p>
                        <p class="_bold">Cледите за календарём розыгрышей и подписывайтесь на наш Instagram, чтобы не
                            пропустить объявление победителей!</p>
                    </div>

                    <div class="final-screen__btns-container">
                        <button @click="successOperation = false" class="final-screen__btn _form-btn">
                            ЗАГРУЗИТЬ ЕЩЕ ЧЕК
                        </button>
                        <a href="https://www.instagram.com/alcon.contactlenses/?hl=en" target="_black"
                           class="final-screen__btn _form-btn">
                            INSTAGRAM ALCON
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-block-4 class="block block-4">
        <h1 class="block-4__title _section-title _main-title _white">
            Календарь розыгрышей
        </h1>
        <div class="block-4__options-container">
            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>1</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>11</span> призов!</div>
                <button data-week="1" class="block-4__option-btn _round">22.11 — 28.11</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>2</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>18</span> призов!</div>
                <button data-week="2" class="block-4__option-btn _round">29.11 — 5.12</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>3</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>25</span> призов!</div>
                <button data-week="3" class="block-4__option-btn _round">6.12 — 12.12</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>4</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>32</span> приза!</div>
                <button data-week="4" class="block-4__option-btn _round">13.12 — 19.12</button>
            </div>

            <div class="block-4__option">
                <div class="block-4__week">Неделя <span>5</span></div>
                <span class="_mobile">-</span>
                <div class="block-4__gifts"><span>52</span> приза!</div>
                <button data-week="5" class="block-4__option-btn _round">20.12 — 24.12</button>
            </div>
        </div>

        <a href="https://www.moiglaza.ru/where-to-buy/" target="_blank" class="block-4__buy-btn _main-btn _white _icon">
            <span>Где купить и подобрать продукты ALCON</span>
            <svg>
                <use xlink:href="images/sprite.svg#arrow"></use>
            </svg>
        </a>


        <div data-week-info="container" class="block-4__week-info week-info">
            <h2 data-week-info="week" class="week-info__title">Неделя 1</h2>
            <div class="week-info__info-container">
                <div class="week-info__item">
                    <div class="week-info__name">Срок загрузки чеков:</div>
                    <div data-week-info="dates" class="week-info__dates">22.11.21 — 28.11.21</div>
                </div>
                <div class="week-info__item">
                    <div class="week-info__name">Розыгрыш:</div>
                    <div data-week-info="draw" class="week-info__dates">3 декабря 2021</div>
                </div>
            </div>

            <div class="week-info__gifts-container">
                <div class="week-info__gift">
                    <picture class="week-info__img">
                        <source media="(max-width: 666px)" type="image/png"
                                srcset="images/mobile/block-4/laptop.png"/>
                        <img src="images/desktop/block-4/laptop.png"
                             alt="картинка ноутбука с чекбоксами">
                    </picture>
                    <div data-week-info="subscription" class="week-info__num-bar _round">x10</div>
                    <div class="week-info__description">
                        Digital-подписки на сервисы
                    </div>
                </div>

                <div class="week-info__gift">
                    <picture class="week-info__img">
                        <source media="(max-width: 666px)" type="image/png"
                                srcset="images/mobile/block-4/watches.png"/>
                        <img src="images/desktop/block-4/watches.png"
                             alt="часы">
                    </picture>
                    <div data-week-info="watches" class="week-info__num-bar _round">x1</div>
                    <div class="week-info__description">
                        Apple Watch Series 7
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>
<footer class="main-footer">
    <p class="main-footer__text">* Сроки проведения акции: с 22 ноября 2021 г. по 24 декабря 2021 г. Информация об
        организаторе, правилах
        проведения акции/конкурса, количестве призов, сроках, месте и порядке их получения указаны в Правилах
        акции/конкурса и размещены на сайте <a href="https://moiglaza.ru">moiglaza.ru</a></p>
    <a class="main-footer__link" target="_blank"
       href="https://www.moiglaza.ru/upload/uf/380/Pravila-Provedeniya_-Aktsiya_P1.pdf">Правила акции</a>
</footer>

</body>

</html>

